.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f2f5;
  background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
}

.card {
  width: 368px;
  margin-bottom: 100px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  font-size: 33px;
} 